<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Tečajevi</title>
</head>
<body>
<h1>Dobrodošli na online tečajeve!</h1>

<p th:if="${#request.userPrincipal != null}">
    Ulogirani ste kao: 
    <strong th:text="${#request.remoteUser}">korisnik</strong> 
    (<span th:text="${#authorization.expression('hasRole(''ADMIN'')') ? 'Admin' : 'Student'}">uloga</span>)
</p>

<h2>Dostupni tečajevi:</h2>
<ul>
    <li th:each="course : ${courses}">
        <strong th:text="${course.title}"></strong> - <span th:text="${course.description}"></span>
    </li>
</ul>
</body>
</html>
